@using Class62Homework.Data;
@using Class62Homework.Web.Models;

@model JokesModelView

<div class="container">
    @if (Model.User != null)
    {
        <div class="text-center">
            <h2>All Liked and Unliked Jokes for @Model.User.FirstName @Model.User.LastName</h2>
        </div>
        <div class="row">
            <br />
            <table id="jokes-table" class="table table-bordered table-striped">
                <tr>
                    <th>Website Id</th>
                    <th>Set up</th>
                    <th>Punchline</th>
                    <th>Like/Unlike</th>
                </tr>
                @foreach (Joke j in Model.UserJokes)
                {
                    int likes = j.UserLikedJokes.Where(u => u.Liked && u.UserId == Model.User.Id).Count();
                    int unlikes = @j.UserLikedJokes.Where(u => !u.Liked && u.UserId == Model.User.Id).Count();
                    <tr>
                        <td>@j.WebsiteId</td>
                        <td>@j.Setup</td>
                        <td>@j.PunchLine</td>
                        <td>
                            @if (likes > 0)
                            {
                                <h3 style="color:cornflowerblue">
                                    <span class="glyphicon glyphicon-thumbs-up"></span>
                                </h3>
                            }
                            @if (unlikes > 0)
                            {
                                <h3 style="color:lightcoral">
                                    <span class="glyphicon glyphicon-thumbs-down"></span>
                                </h3>
                            }
                        </td>
                    </tr>
                }
            </table>
        </div>
    }
</div>